header{
    margin-bottom: 3%;
}

h2{
    font-size: 2rem;
    margin-bottom: 2%;
}

h3{
    margin-bottom: 20px;
}

.video-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-container iframe{
    margin-bottom: 10px;
}

@media screen and (max-width: 480px){
    iframe{
        width: 300px;
        height: 250px;
    }

    h2{
        text-align: center;
    }
}